

.text{
background: linear-gradient(90deg, #B57E10 -4.86%, #B57E10 19.2%, #F9DF7B 47.13%, #FFF3A6 60.64%, #F9DF7B 72.18%, #B57E10 86.85%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

}

.bar{
    background: linear-gradient(90deg, #B57E10 -4.86%, #B57E10 19.2%, #F9DF7B 47.13%, #FFF3A6 60.64%, #F9DF7B 72.18%, #B57E10 86.85%);
}

#nav-link{
  transition: 1s cubic-bezier(0.74, 0.01, 0.23, 0.97);
    
}

.open{
    transform: translateX(0%);
}

.top{
  transform: rotate(45deg);
				top: 5px;
   
        transition: all 0.5s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}

.down{
  transform: rotate(-45deg);
				bottom: 5px;
       
        transition: all 0.5s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}


.inmiddle{
  opacity: 0;
  transition: 0.8s  cubic-bezier(0.1, 0.82, 0.76, 0.965);
  bottom: 5px;
}

.change{
  transition: 1s ease;
}
